html,
body {
  line-height: 1.5;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

code,
pre,
.bp3-monospace-text {
  font-family: 'PragmataPro', 'Iosevka', 'DejaVu Sans Mono', 'Consolas', 'Menlo',
    'Monaco', monospace;
}

nav a:hover {
  text-decoration: none;
}

nav + div > h2:first-child {
  margin-top: 0;
}

.bp3-select-popover .bp3-menu {
  max-width: 400px;
  max-height: 400px;
  overflow-y: auto;
}
